#features1-b .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-b P {
  text-align: center;
  color: #ffffff;
  font-size: 23px;
}
#features1-b .mbr-section-title .mbr-header__text {
  color: #27aae0;
}
#features1-b .mbr-section-title .mbr-header__text I {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #001121;
}
#ext_menu-3 .mbr-navbar__section {
  background: #001121;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#form1-9 .mbr-header__text {
  color: #2969b0;
}
#contacts1-e B {
  color: #ffffff;
}
#contacts1-e P {
  color: #ffffff;
}
